@import './bro.variable.scss';

$img: '/dist/images/usermatch';

.usermatch {
    @include calc_bottom(36vh);
    @include calc_right(36vh);
    @include calc_w(270vh);

    position: absolute; line-height: 1;

    .match {
        @include calc_pd(18vh,20vh,15vh,20vh);
        @include boxShadow-sm();
        &:first-child {margin-top: 0;}

        position: relative; border: 1px solid $border_color;

        .match-label {
            @include calc_fz(16vh);
            text-align: left;
        }
        .tip {top: 0; transform: translate(-120%,0);}
    }

    .custom {
        @include calc_mg(0,0,5vh,0);
        @include calc_fz(22vh);

        border-color: #5a5a5a; color: #979797; background-color: rgba(38,38,38,0.75);
    }

    .custom.active {
        color: #bdbdbd; background: $bg_black75; border: 1px solid #585858;

        &:hover {
            color: #fff;
            border: 1px solid $point_color;
            background-color: rgba(255,198,0,0.6);
        }
    }

    .team {
        border-bottom: none;

        .match-label {
            @include calc_fz(22vh);
        }

        .selectMatch {
            @include calc_mg(10vh,0,0,0);
            display: flex; justify-content: center;

            button {
                @include calc_h(79vh);
                @include calc_fz(18vh);
                transition: all 0.3s;

                overflow: hidden; flex: 0; margin: 0 -1px 0 0; opacity: 0.6;
                transition: all 0.4s; text-align: center;

                p {
                    display: flex; justify-content: center; flex-direction: column;
                    box-sizing: border-box; width: 100%; height: 100%;
                    border: 1px solid rgba(255,255,255,1);
                }

                img {
                    @include calc_h(26vh);
                    margin: 0 auto;
                    display: block;
                }

                span {display: block;}

                &.on,
                &:hover {
                    position: relative; z-index: 5;
                    opacity: 1; color: $point_color; background-color: $active-color;

                    p {
                        border: 1px solid $point_color;
                    }
                }
            }
        }

        #btn-random {
            @include calc_h(0vh);
            @include calc_mg(0,0,0,0vh);
            @include calc_right(-1vh);

            position: relative;
            overflow: hidden; width: 100%;
            transition: all 0.3s;

            &.able {
                @include calc_h(37vh);
            }
        }

        .btn-random {
            @include calc_lh(30vh);
            @include calc_mg(5vh,0,0,0);
            @include calc_fz(16vh);

            box-sizing: border-box;
            width: 100%; border: 1px solid #fff; opacity: 0.4; text-align: center;
            transition: all 0.4s, opacity 0.4s, background-color 0.4s;



            &.random {
                border-color: $point_color;
                background-color: $active_color;
                opacity: 1;
            }
        }
    }
}

.usermatch.solo {
    .selectMatch button {flex: 1;}
}

.usermatch.duo {
    .selectMatch button.duo,
    .selectMatch button.squad {flex: 1 !important;}
}

.usermatch.squad {
    .selectMatch button.squad {flex: 1 !important;}
}

.playMode {
    @include calc_h(90vh);
    @include calc_fz(22vh);

    overflow: hidden;
    color: #000; text-shadow: none;
    background: url('#{$img_common}/play-bg.jpg') 0 0 no-repeat;
    background-size: cover; text-align:center;

    .modeName,
    p {position: relative; z-index: 10;}

    .modeName {text-transform: uppercase;}
    P {
        @include calc_fz(45vh);
    }
}

.playMode:after {
    content: ""; position: absolute; top: -110%; width: 200%; height: 500%; opacity: 0; transform: rotate(45deg);
    border-radius: 50%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 77%,
      rgba(255, 255, 255, 1) 92%,
      rgba(255, 255, 255, 0.0) 100%
    );

    animation: shineMotion infinite 1.4s linear;
}

@keyframes shineMotion {
    0% {opacity: 0; left: -210%;}
    50% {opacity: 1;}
    100% {opacity: 0; left: -30%;}
}