<!-- STEAMFRIEND -->
<!-- STEAMFRIEND LIST -->
<article class="steamFriend-list lineBlock-c arrow-bottom">
    <header class="cmptHeaer">
        <h3>FRIENDS (<i class="maxCount">0</i>)</h3>

        <span class="option">
        <button class="fa fa-user-plus fa-lg" onclick="showModal('#addFriend')"></button>
        <button class="fa fa-envelope fa-lg" onclick="invitations();">
            <i class="badge">99</i>
        </button>
        </span>

        <section class="searchArea">
        <input type="text" class="search" placeholder="SEARCH. USER ID" />
        <button class="fa fa-undo fa-lg"></button>
        </section>
    </header>

    <div class="scroll list">

        <h4 class="team">TEAM (<i>0</i>)</h4>
        <section id="group-team" class="userList team">
        <ul>
            <li *ngFor="let player of players | myfilter: 'team'">
                <figure class="profile mg"><img src="/assets/images/{{player.img}}" alt=""/></figure>
                <strong>{{player.name}}|{{player.group}}</strong>

                <div class="option">
                    <button class="fa fa-plus-circle fa-lg" (click)="onSelect(player)"></button>
                    <button class="fa fa-minus-circle fa-lg" (click)="onSelect(player)"></button>
                    <button class="fa fa-info-circle fa-lg"></button>
                </div>

                <p class="tip sm arrow-right" style="display: none">
                    You can no longer invite<br/>more people.
                </p>
            </li>
        </ul>
        </section>

        <h4 class="active">ONLINE (<i>0</i>)</h4>
        <section id="group-online" class="userList online">
        <ul>
            <li *ngFor="let player of players | myfilter: 'online'">
                <figure class="profile mg"><img src="/assets/images/{{player.img}}" alt=""/></figure>
                <strong>{{player.name}}</strong>

                <div class="option">
                    <button class="fa fa-plus-circle fa-lg" (click)="onSelect(player)"></button>
                    <button class="fa fa-minus-circle fa-lg" (click)="onSelect(player)"></button>
                    <button class="fa fa-info-circle fa-lg"></button>
                </div>

                <p class="tip sm arrow-right" style="display: none">
                    You can no longer invite<br/>more people.
                </p>
            </li>
        </ul>
        </section>

        <h4 class="deactive">OFFLINE (<i>0</i>)</h4>
        <section id="group-offline" class="userList offline">
        <ul>
            <li *ngFor="let player of players | myfilter: 'offline'">
                <figure class="profile mg"><img src="/assets/images/_profile6.jpg" alt=""/></figure>
                <strong>HANZO</strong>

                <div class="option">
                    <button class="fa fa-plus-circle fa-lg"></button>
                    <button class="fa fa-info-circle fa-lg"></button>
                </div>

                <p class="tip sm arrow-right" style="display: none">
                    You can no longer invite<br/>more people.
                </p>
            </li>
        </ul>
        </section>

    </div>

    </article>
    <!-- //STEAMFRIEND LIST -->

    <!-- INVITATIONS -->
    <article class="invitations lineBlock-c arrow-left">
    <header class="cmptHeaer">
        <h3>INVITATIONS</h3>
    </header>

    <div class="scroll list">
        <section class="userList">
        <ul>
            <li>
            <figure class="profile mg"><img src="/assets/images/_profile.jpg" alt=""/></figure>
            <strong>id11121431231</strong>

            <div class="option">
                <button class="fa fa-check-circle fa-lg allow"></button>
                <button class="fa fa-times-circle fa-lg refuse"></button>
            </div>
            </li>

            <li>
                <figure class="profile mg"><img src="/assets/images/_profile.jpg" alt=""/></figure>
                <strong>id11121431231</strong>

                <div class="option">
                    <button class="fa fa-check-circle fa-lg allow"></button>
                    <button class="fa fa-times-circle fa-lg refuse"></button>
                </div>
            </li>
        </ul>
        </section>
    </div>
    </article>
    <!-- //INVITATIONS -->

    <!-- STEAMFRIEND THUMNAIL -->
    <article class="steamFriend clearfix">
    <section class="steamGroup" >
        <div class="steamSignal">
        <p class="tip lg arrow-bottom">
            <i>Receive team invitation</i><br/>
            Press to change status
        </p>
        </div>
        <!-- <div class="steamMulti maxCount" onclick="steamList()">0</div> -->
        <div class="steamMulti maxCount" onclick="steamList()">0</div>

        <div class="slot">
        <span class="thum"><img src="/assets/images/_profile.jpg" alt=""></span>
        </div>
    </section>

    <section class="steamSingle">

        <!-- 팀원이 레디시 slot ready 클래스 추가 -->
        <div class="slot" onclick="steamList()">
        <span class="thum"><img src="" alt=""></span>
        <!-- <p class="tip sm arrow-bottom"></p> -->
        </div>

        <div class="slot" onclick="steamList()">
            <span class="thum"><img src="" alt=""></span>
        <!-- <p class="tip sm arrow-bottom"></p> -->
        </div>

        <div class="slot" onclick="steamList()">
            <span class="thum"><img src="" alt=""></span>
        <!-- <p class="tip sm arrow-bottom"></p> -->
        </div>
    </section>

    <button class="btn-leave" onclick="leaveTeam();">LEAVE TEAM</button>
    </article>
    <!-- //STEAMFRIEND THUMNAIL -->

    <!-- ADD FRIENDS -->
    <article id="addFriend" class="addFriend lineBlock-c modalCenter">
    <header class="cmptHeaer">
        <h3>ADD FRIENDS</h3>

        <section class="searchArea">
        <input type="text" class="search" placeholder="Please enter your friend nickname" />
        <button class="fa fa-search fa-lg"></button>
        </section>
    </header>

    <div class="scroll list">
        <section class="userList">
        <ul>
            <li>
            <figure class="profile mg"><img src="/assets/images/_profile.jpg" alt=""/></figure>
            <strong>id11121431231</strong>

            <div class="option">
                <button class="fa fa-ban fa-lg"></button>
                <button class="fa fa-times-circle fa-lg"></button>
                <button class="fa fa-check-circle fa-lg"></button>
                <button class="fa fa-plus-circle fa-lg"></button>
                <button class="fa fa-info-circle fa-lg"></button>
            </div>
            </li>

            <li>
            <figure class="profile mg"><img src="/assets/images/_profile.jpg" alt=""/></figure>
            <strong>id11121431231</strong>
            </li>

            <li>
            <figure class="profile mg"><img src="/assets/images/_profile.jpg" alt=""/></figure>
            <strong>BBB</strong>
            </li>
        </ul>
        </section>
    </div>
    </article>
    <!-- //ADD FRIENDS -->
    <!-- //STEAMFRIEND -->