<div id="wrapper" class="wrapper">

  <div class="rain"></div>

  <!-- HEADER -->
  <header class="bro-header clearfix">
    <h1 class="logo"><img src="/assets/images/common/pubg-logo.png" alt="PUBG"/></h1>

    <nav class="bro-gnb">
        <ul class="clearfix">
            <li>
                <a href="">home</a>
            </li>
            <li>
                <a href="">character</a>
            </li>
            <li>
                <a href="">rewards</a>
            </li>
        </ul>
        <i id="menuBar" class="activator animate"></i>
    </nav>

    <!-- USER INFO -->
    <section class="bro-userinfo">

      <!-- bro cash -->
      <div class="block userCash" style="display: none;">
        <em>110</em>
        <button class="addPoint">Add point</button>
      </div>
      <!-- //bro cash -->

      <!-- bro Point -->
      <div class="block userpoint"><em></em></div>
      <!-- bro Point -->

      <!-- userid -->
      <div class="block userid">
        <figure class="profile sm"><img src="/assets/images/_profile.jpg" alt=""/></figure>{{pubg.name}}
      </div>
      <!-- //userid -->

      <!-- userserver -->
      <div class="block userserver">
        <p class="selectValue pointColor" onmouseenter="userserver('show');">NA</p>

        <!-- <div class="serviceList lineBlock-c arrow-top isView"> -->
        <div id="userServerLlist" class="serviceList lineBlock-c arrow-top"  onmouseleave="userserver('hide');">
          <ul>
            <li>
              <strong class="mark">NA</strong>
              <span>NORTH AMERICA</span>
              <i class="antenna level0">200ms</i>
            </li>

            <li>
              <strong class="mark">EU</strong>
              <span>EUROPEAN UNION</span>
              <i class="antenna level0">200ms</i>
            </li>

            <li>
              <strong class="mark">AS</strong>
              <span>ASIA</span>
              <i class="antenna level1">200ms</i>
            </li>

            <li>
              <strong class="mark">OC</strong>
              <span>OCEANIA</span>
              <i class="antenna level2">200ms</i>
            </li>

            <li>
              <strong class="mark">SA</strong>
              <span>SOUTH AMERICA</span>
              <i class="antenna level3">200ms</i>
            </li>
          </ul>
          <span
            class="activator animate" style="top: 0">
          </span>
        </div>
      </div>
      <!-- //userserver -->

      <!-- useroption -->
      <div class="block useroption" onclick="showModal('#userOption');">
        <p class="fa fa-bars fa-lg"></p>
      </div>
      <!-- useroption -->
    </section>
    <!-- //USER INFO -->
    <!-- //user info -->
  </header>
  <!-- //HEADER -->

  <app-test></app-test>

  <!-- INVITE TEAM -->
  <article class="inviteTeam">
    <nav class="tabBlock">
      <button class="on">ID 11223</button>
      <button>ID 112236</button>
      <button>ID 112236</button>
      <button>ID 11223</button>
    </nav>

    <div class="invite-message lineBlock-c clearfix">
      <figure class="profile mg"><img src="/assets/images/_profile.jpg" alt=""/></figure>
      <p>
        <span class="pointColor">ALOHADANCETV</span> has applied for a team invitation.
      </p>
    </div>

    <div class="group-btn lineBlock-c">
      <button class="btn sm able">OK</button>
      <button class="btn sm disable">CANCEL</button>
    </div>
  </article>
  <!-- //INVITE TEAM -->

  <usermatch></usermatch>
  <steamFriends></steamFriends>



  <article class="component chat">
    <div class="hiddenArea">
      <div class="containArea">
        <nav class="tabBlock">
          <button class="on">PUBG CHAT</button>
          <button>TEAM CHAT</button>
        </nav>

        <div class="chat-message lineBlock-c">
          <ul>
            <li>
              <i>[huong888]</i>Hello, front desk, how may I help you?
            </li>
            <li>
              <i>[huong888]</i>Hello, front desk, how may I help you?
            </li>
            <li>
              <i>[huong888]</i>Hello, front desk, how may I help you? Hello, front desk, how may I help you?
            </li>
            <li>
              <i>[huong888]</i>Hello, front desk, how may I help you?
            </li>
            <li class="notice">HEECHANPark joined the team</li>
          </ul>

        </div>
      </div>
    </div>

    <div class="chat-input">
      <input type="text" class="typeArea" placeholder="Press Enter to start the conversation" />
      <button>A</button>
    </div>
  </article>

  <!-- <Inviteteam></Inviteteam>
  <Usermatch></Usermatch>
  <Steamfriend></Steamfriend>
  <Chat></Chat> -->

  <!-- SLIDE BANNER -->
  <section class="banner" style="display: none;">
      <div>Slide 1</div>
      <div>Slide 2</div>
      <div>Slide 3</div>
      <div>Slide 4</div>
      <div>Slide 5</div>
  </section>
  <!-- //SLIDE BANNER -->
</div>

<!-- POP-MESSAGE -->
<div class="pop-message lineBlock-c" style="display: none">
  GAME MATCH CANCELED
</div>
<!-- //POP-MESSAGE -->

<!-- POP-ALERT -->
<div class="pop-alert" style="display: none;">
  <p>
      Do you really want to leave the team?<br/>
      Do you really want to leave the team?
  </p>
  <div class="group-btn dFlex">
      <button class="flex1">YES</button>
      <button class="flex1">NO</button>
  </div>
</div>
<!-- //POP-ALERT -->

<!-- OPTION 창  -->
<div id="userOption" class="serviceList optionBox lineBlock-c white modalCenter">
  <ul>
    <li>SETTING</li>
    <li>CREDITS</li>
    <li>EXIT GAME</li>
  </ul>
</div>
<!-- //OPTION 창  -->

<div class="dim" onclick="showModal('.modalCenter');"></div>






